################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/out
/include
/lib
/libraries
CMakeLists.txt